.nav-link:hover{
    background-color: #212529;
    color: white;
}
.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; /* Para navegadores modernos */
    gap: 1rem; /* Espaçamento entre cards */
    padding-bottom: 1rem; /* Evita sobreposição com a barra de scroll */
}

.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.card-img-top:hover{
    transform: scale(1.0002);
    transition: transform ease-in-out 0.3s;
    cursor: pointer;
}
.card-img-top{
    transform: scale(0.9);
    transition: transform ease-in-out 0.3s;
}
@media (max-width:1000px){
    .carousel-item{
    position: relative;
    top:80px;
    background-color: red;
    }
}







