.nav-link:hover{
    background-color: #212529;
    color: white;
}
.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; /* Para navegadores modernos */
    gap: 1rem; /* Espaçamento entre cards */
    padding-bottom: 1rem; /* Evita sobreposição com a barra de scroll */
}

.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
